@{ 
    ViewBag.Title = "Home Page";
}
    <div class="container">

        <h1>@ViewBag.Title</h1>
        <button id="buyButton">Buy</button>
       
        <div>
            <form>
                <div class="row">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="row">
                    <label class="form-label"   >Password</label>
                    <input class="form-control" type="password" />
                </div>
                <div class="row">
                    <label class="form-label col-2">Remmember Me?</label>
                    <input class="form-check col-1" type="checkbox" />
                </div>
                <div>
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>